@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Space Mono";
  src: url('/fonts/SpaceMono-Regular.ttf');
  src: url('/fonts/SpaceMono-Bold.ttf');
}

@font-face {
  font-family: "7 Segment";
  src: url('/fonts/7-segments-display.ttf');
}

@font-face {
  font-family: "Seven Segment";
  src: url('/fonts/Seven Segment.ttf');
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --main-color: #fedf53;
  --sub-color: #350750;
}

body {
  color: var(--foreground);
  background: url('/bg.jpg');
  backdrop-filter: blur(2px);
  font-family: "Space Mono", monospace;
  min-height: 100vh;
}

h1 {
  color: var(--main-color);
  font-weight: 900;
}

.counter-card {
  background-color: rgba(33, 5, 49, 0.7);
  border: 2px solid black;
  width: 90%;
  max-width: 600px;
}

.counter {
  font-family: '7 Segment', monospace;
}

.counter span {
  background-color: var(--background);
  padding: 20px 0;
  box-shadow: 0 0 5px inset var(--foreground);
  border-radius: 5px;
}

.end-counter {
  font-family: "Seven Segment";
  color: var(--main-color);
}

.end-counter span {
  box-shadow: 0 0 5px inset var(--main-color);
  font-weight: 900;
}